<?xml version="1.0" encoding="UTF-8"?>

<suite name="saucedemo_automation" verbose="1">

	<test name="SauceDemo Tests">
		<classes>
			<class name="tests.LoginTest">
				<methods>
					<include name="TC_Login_01_validLogin" />
					<include name="TC_Login_02_invalidLogin" />
					<include name="TC_Login_03_emptyFields" />
					<include name="TC_Login_04_lockedOutUser" /> 
					<include name="TC_Product_01_productsVisbile" />
					<include name="TC_Product_02_sortFunctionality" />
					<include name="TC_Cart_01_addToCart" />
					<include name="TC_Cart_02_viewProduct" />
					<include name="TC_Cart_03_AddMultipleItems" />
					<include name="TC_Cart_04_RemoveItemFromCart" />
					<include name="TC_Checkout_01_SuccessfulCheckout" />
					<include name="TC_Checkout_02_CheckoutwithMissingInfo" />
					<include name="TC_Checkout_03_Validate_Order_Checkout" />
					<include name="TC_Account_01_NavigateBackHome" />
					<include name="TC_Account_02_Logout" />
				</methods>
			</class>
		</classes>
	</test>

</suite>
